# Python bytecode & cache
__pycache__/
*.py[cod]
*.class

# Environment files & Virtual Environments
.env
.env.*
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Data files (raw & processed datasets)
*.csv
*.tsv
*.xlsx
*.parquet

# Operating System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large media files
*.mp4
*.avi
*.mov
nasich_dicoding-video
